.sidebarDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0px 8px rgba(0, 0, 0, .5);
}

.regLogoNameDiv {
    display: flex;
    align-items: center;
    gap: 5%;
    font-size: .7rem;
    padding: 20% 10%;
    color: #7D0A0A;
}

.regListDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
}

.regListDiv>span {
    display: flex;
    padding-left: 5vh;
    border-radius: 12px;
    /* background-color: #B22F2F; */
    height: 5vh;
    width: 24vh;
    align-items: center;
    gap: 5%;
}

.regListDiv>span>img {
    width: 15px;
}

.regListDiv2 {
    margin-top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0vh;
}

.regListDiv2>hr {
    width: 25vh;
}

.regListDiv2>span {
    display: flex;
    padding-left: 5vh;
    border-radius: 12px;
    /* background-color: #B22F2F; */
    height: 5vh;
    width: 24vh;
    align-items: center;
    gap: 5%;
}

.regListDiv2>span>Link {
    color: black;
}

.regListDiv2>span>img {
    width: 15px;
}