/* outer div */
.RegHomeDiv1 {
    display: flex;
    flex-direction: row;
}

/* dashboard div */
.RegHomeDiv1-1 {
    height: 100vh;
    width: 15%;
    background-color: white;
}

/* profile, updates, and chart div */
.RegHomeDiv1-2 {
    width: 85%;
    overflow: hidden;
}

/* profile div */
.RegHomeDiv1-2-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%; 
}

/* updates and mission div */
.RegHomeDiv1-2-2 {
    height: 60%;
    display: flex;
}

/* updates div */
.RegHomeDiv1-2-2-1 {
    width: 50%;
}

/* total scholars div */
.RegHomeDiv1-2-2-1-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46.5%; 
}

/* total applicants div */
.RegHomeDiv1-2-2-1-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46.5%;
}

/* mission div */
.RegHomeDiv1-2-2-2 {
    height: 90%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adjust chart container div to fit well inside */
.RegHomeDiv1-2-3 {
    width: 90%;
    height: 25%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
    padding: -20px;
    justify-content: center;
    align-items: center;
    margin: -25px 90px;
    margin-bottom: 100px;
    overflow: hidden;
}
