.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #c9302c;
}

.scholarship-slider {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.slick-prev, .slick-next {
    font-size: 20px;
    color: #c9302c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2; 
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev:hover, .slick-next:hover {
    color: #d9534f;
}

.slick-dots {
    position: absolute;
    bottom: -35px;
    width: 100%;
    text-align: center;
    z-index: 1; 
}

.slick-dots li button {
    background-color: #d9534f; 
    width: 18px; 
    height: 18px; 
    border-radius: 50%;
    margin: 10 8px; 
    transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.slick-dots li.slick-active button {
    background-color: #c9302c; 
    width: 18px;
    height: 18px; 
}

.scholarship-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 100%;
    max-width: 320px;
    flex: 0 0 auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 540px;
}

.scholarship-card .scholarship-title {
    margin: 10px 0;
    background-color: #c9302c;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.scholarship-card p {
    font-size: 12px; 
    line-height: 1.4; 
    margin-bottom: 15px;
    text-align: justify; 
    overflow: visible; 
}

.apply-button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 12px; 
    margin-top: auto; 
}

.apply-button:hover {
    background-color: #c9302c;
    transform: scale(1.05);
}

.slick-center .scholarship-card {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 1024px) {
    .slick-prev, .slick-next {
        font-size: 16px;
    }

    .scholarship-card {
        width: 90%; 
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    .slick-prev, .slick-next {
        font-size: 14px;
    }

    .scholarship-card {
        width: 100%;
        max-width: 100%;
    }
}